@font-face {
  font-family: robotoT !important;
  src: url("../fonts/Roboto-Thin.ttf"); }
@font-face {
  font-family: robotoR;
  src: url("../fonts/Roboto-Regular.ttf"); }
@font-face {
  font-family: robotoM;
  src: url("../fonts/Roboto-Medium.ttf"); }
@font-face {
  font-family: robotoL;
  src: url("../fonts/Roboto-Light.ttf"); }
@font-face {
  font-family: robotoB;
  src: url("../fonts/Roboto-Bold.ttf"); }
@font-face {
  font-family: robotoBB;
  src: url("../fonts/Roboto-Black.ttf"); }
.sk-jcc {
  display: flex;
  justify-content: center; }

.sk-jcs {
  display: flex;
  justify-content: flex-start; }

.sk-jce {
  display: flex;
  justify-content: flex-end; }

.sk-jcb {
  display: flex;
  justify-content: space-between; }

.sk-jca {
  display: flex;
  justify-content: space-around; }

.sk-jcse {
  display: flex;
  justify-content: space-evenly; }

.sk-aic {
  display: flex;
  align-items: center; }

.sk-flex-row {
  display: flex;
  flex-direction: row; }

.sk-flex-col {
  display: flex;
  flex-direction: column; }

.sk-flex {
  display: flex; }

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88;
  width: 3.5rem;
  height: 3.5rem;
  margin: -25px 0 0 -25px;
  opacity: 0;
  transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  pointer-events: none;
  background: transparent; }
  .cursor--hover .cursor-inner {
    transform: scale(0.5);
    opacity: 0; }
  .cursor--hover .cursor-outer {
    transform: scale(1.8);
    background: #fff;
    border-color: #000;
    opacity: 1;
    filter: grayscale(100%); }
  .cursor---hover .cursor-inner {
    transform: scale(0.5);
    opacity: 0; }
  .cursor---hover .cursor-outer {
    transform: scale(1.5);
    background: transparent;
    border-color: #fff;
    opacity: 1; }
  .cursor----hover .cursor-inner {
    background: #000;
    opacity: 1; }
  .cursor----hover .cursor-outer {
    transform: scale(1.2);
    background: transparent;
    border-color: #000;
    opacity: 1; }
  .cursor-----hover .cursor-inner {
    transform: scale(0.5);
    opacity: 0; }
  .cursor-----hover .cursor-outer {
    transform: scale(1.8);
    background: #fff;
    opacity: 1; }

.cursor-move-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  margin-left: -3px;
  background: transparent; }

.cursor-move-outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent; }

.cursor-inner {
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1); }

.cursor-outer {
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 50%;
  box-sizing: border-box;
  transition: border 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.4s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1); }

button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  background: none;
  border: 0 none;
  border-bottom: 2px solid #000;
  border-radius: 0;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: border 0.4s cubic-bezier(0.165, 0.84, 0.44, 1); }
  button:hover, button:focus {
    border-color: #fff; }

.hover-links a {
  color: #000 !important;
  font-family: robotoB; }

.but-hover {
  border-color: #000 !important;
  letter-spacing: 15rem; }
  .but-hover a {
    color: #000 !important;
    border-color: #000 !important;
    letter-spacing: 8.005px !important; }

.sk-svg-hover circle {
  transform: matrix(-1 0 0 1 12 13.5652) !important; }

.bechance-hover {
  color: #4176FA !important; }

.work-text-hover {
  color: #000 !important; }

.github-hover path {
  fill: #5c6bc0 !important; }

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #fff; }
  to {
    width: 0;
    background: transparent; } }
@-moz-keyframes inputHighlighter {
  from {
    background: #fff; }
  to {
    width: 0;
    background: transparent; } }
@keyframes inputHighlighter {
  from {
    background: #fff; }
  to {
    width: 0;
    background: transparent; } }
@keyframes animate1 {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(40px); }
  100% {
    transform: translateY(0px); } }
@keyframes animate2 {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(20px); }
  100% {
    transform: translateY(0px); } }
@keyframes animate3 {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(20px); }
  100% {
    transform: translateY(0px); } }
:root {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background: #282828;
  font-family: robotoB;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  cursor: none !important; }

input {
  cursor: none !important; }

a {
  cursor: none; }

h1,
p {
  background-color: transparent !important;
  margin: 0px !important; }

a {
  background-color: transparent; }

html:hover .cursor {
  opacity: 1; }

.sk-contianer {
  padding: 0px;
  padding-left: 120px;
  padding-right: 120px; }

.margin-top-50 {
  margin-top: 50px; }

.margin-top-60 {
  margin-top: 50px; }

.margin-top-150 {
  margin-top: 150px; }

.margin-bottom-50 {
  margin-bottom: 50px; }

.margin-bottom-60 {
  margin-bottom: 50px; }

.margin-bottom-150 {
  margin-bottom: 150px; }

.margin-left-right-20 {
  margin: 0px 20px; }

.padding-left-0 {
  padding-left: 0px !important; }

.sk-nav-logo {
  margin-top: 40px;
  margin-bottom: 10px; }

.height-100vh {
  height: 110vh; }

.margin-0 {
  margin: 0px !important; }

.sk-nav-elements li {
  list-style: none;
  padding: 25px;
  margin: 0px 10px; }
  .sk-nav-elements li a {
    z-index: 100;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    position: relative; }
    .sk-nav-elements li a::before {
      content: "{";
      color: #53d2fb;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all 0.3s ease-out; }
    .sk-nav-elements li a::after {
      content: "}";
      color: #bd69ff;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      font-size: 1.2rem;
      transition: all 0.3s ease-out; }
    .sk-nav-elements li a:hover:before {
      opacity: 1;
      left: -20%; }
  .sk-nav-elements li:hover a::after {
    opacity: 1;
    right: -30%; }
  .sk-nav-elements li:hover a:before {
    opacity: 1;
    left: -20%; }

.sk-about-image {
  margin-left: 150px; }
  .sk-about-image img {
    width: 434px;
    height: 414px; }

.sk-main-text {
  margin-top: 60px;
  width: 40%;
  display: flex;
  justify-content: start;
  flex-direction: column; }
  .sk-main-text h1 {
    font-size: 1.5rem;
    line-height: 45px; }
  .sk-main-text span {
    font-size: 1.5rem;
    color: sandybrown; }

.sk-anmation-images {
  width: 60%;
  height: auto;
  position: relative; }
  .sk-anmation-images .sk-image-1 {
    position: absolute;
    right: 0px;
    top: 165px;
    display: flex !important;
    justify-content: center; }
    .sk-anmation-images .sk-image-1 img {
      animation-name: animate1;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      max-width: 100%;
      height: auto;
      width: 40%; }
  .sk-anmation-images .sk-image-2 {
    position: absolute;
    right: -30px;
    top: -50px;
    display: flex;
    justify-content: center; }
    .sk-anmation-images .sk-image-2 img {
      width: 60%;
      max-width: 100%;
      height: auto;
      animation-name: animate2;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.6s; }
  .sk-anmation-images .sk-image-3 {
    position: absolute;
    display: flex;
    justify-content: center; }
    .sk-anmation-images .sk-image-3 img {
      width: 60%;
      max-width: 100%;
      height: auto;
      animation-name: animate3;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.2s; }

.hover-h1 {
  color: #000; }

.sk-but {
  display: flex;
  border-radius: 3px;
  width: fit-content;
  padding: 20px; }
  .sk-but a {
    transition: all 0.5s ease-out;
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-family: Muli;
    font-style: normal;
    font-weight: 800;
    font-size: 1rem;
    line-height: 31px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    opacity: 1;
    border: 2px solid #fff;
    z-index: 1000; }

@media only screen and (max-width: 1300px) {
  .sk-about-image img {
    width: 334px;
    height: 314px; }

  .sk-main-text h1 {
    font-size: 1.5rem;
    line-height: 45px; }
  .sk-main-text span {
    font-size: 1.5rem;
    color: sandybrown; } }
.sk-divider {
  display: flex;
  justify-content: center;
  height: 50px;
  margin-bottom: 20px;
  margin-top: 0px; }

.sk-header {
  display: flex;
  justify-content: center;
  z-index: 150;
  margin-top: 80px; }
  .sk-header a {
    font-size: 2rem;
    margin: 0px 60px;
    font-family: robotoM;
    z-index: 150 !important;
    position: relative; }
    .sk-header a::after {
      content: "";
      position: absolute;
      padding: 30px;
      background-color: transparent;
      top: 0px;
      left: 0px; }
  .sk-header a:first-child {
    color: #53d2fb; }
  .sk-header a:last-child {
    color: #bd69ff; }
  .sk-header span {
    font-size: 46px; }

.sk-bechance-logo {
  display: flex;
  justify-content: center; }
  .sk-bechance-logo .sk-behance-text {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    z-index: 120;
    position: relative;
    text-transform: capitalize;
    padding: 20px;
    cursor: none; }

.sk-card-container-github {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 3rem; }

.sk-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 3rem; }
  .sk-card-container .sk-card {
    position: relative; }
    .sk-card-container .sk-card::after {
      content: "";
      position: absolute;
      z-index: 20;
      width: 100%;
      height: 100%;
      z-index: -1;
      top: -0px;
      left: -0px;
      border-radius: 3px;
      background-color: rgba(240, 177, 47, 0.5);
      opacity: 0;
      transition: all 0.3s ease-in-out; }
    .sk-card-container .sk-card:hover:after {
      opacity: 1;
      top: -12px;
      left: -12px; }
  .sk-card-container .sk-card-image img {
    border-radius: 3px;
    width: 100%; }
  .sk-card-container .sk-card-behance-detiles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff !important;
    padding: 15px 0px;
    border-radius: 3px;
    margin-top: 15px; }
    .sk-card-container .sk-card-behance-detiles h1 {
      font-size: 1rem;
      font-family: robotoR;
      color: #000; }
    .sk-card-container .sk-card-behance-detiles p {
      color: #000; }

.layer {
  background: url("../images/33.png") no-repeat;
  background-size: cover;
  border-radius: 3px;
  width: 100%;
  height: 100%; }

.sk-behance-but {
  margin: 100px 0px;
  display: flex;
  justify-content: center;
  position: relative; }

.sk-effect {
  width: 100% !important;
  display: flex;
  justify-content: center;
  z-index: -11;
  position: absolute;
  top: -150px;
  left: 0px;
  width: fit-content;
  max-width: 100%;
  /* transform: rotate(90deg); */
  transform: scale(0.8); }

.sk-github-logo svg {
  z-index: 80; }
  .sk-github-logo svg g path {
    fill: #fff; }

.github {
  padding: 20px; }

.sk-github-header svg {
  font-size: 20px;
  margin-right: 10px;
  color: #5c6bc0; }

.sk-github-card-container {
  background-color: #fff;
  color: #000;
  font-family: robotoR;
  position: relative;
  border-radius: 3px; }
  .sk-github-card-container::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: #5c6bc0;
    opacity: 1;
    transition: all 0.3s ease-in-out; }
  .sk-github-card-container:hover:after {
    opacity: 1;
    top: -12px;
    left: -12px; }
  .sk-github-card-container .sk-github-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px; }
    .sk-github-card-container .sk-github-header h1 {
      font-size: 20px !important; }
  .sk-github-card-container .sk-github-readme {
    margin: 10px 10px; }
    .sk-github-card-container .sk-github-readme p {
      font-size: 14px !important;
      white-space: normal; }
  .sk-github-card-container .sk-github-icons {
    display: flex;
    margin: 15px 10px; }
    .sk-github-card-container .sk-github-icons .sk-github-icon {
      display: flex;
      align-items: center;
      margin: 0px 20px; }
      .sk-github-card-container .sk-github-icons .sk-github-icon:first-child {
        margin-left: 0px; }
      .sk-github-card-container .sk-github-icons .sk-github-icon svg {
        margin-right: 5px;
        color: #000; }

.group {
  position: relative;
  margin-bottom: 45px; }

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  background-color: transparent !important;
  border-bottom: 1px solid #757575;
  color: #fff; }

input:focus {
  outline: none; }

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #fff; }

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%; }

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #fff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

input::-webkit-input-placeholder {
  opacity: 0; }

input:focus::-webkit-input-placeholder {
  opacity: 1;
  color: #fff;
  padding-left: 5px; }

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%; }

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5; }

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease; }

.sk-footer {
  display: flex; }

.sk-footer-text {
  font-family: robotoM;
  font-size: 10px;
  letter-spacing: 0.66em;
  margin-top: 30px; }

.sk-footer-element {
  margin-left: 40px;
  display: flex; }
  .sk-footer-element ul li {
    z-index: 150;
    list-style: none;
    margin: 0px 20px; }
    .sk-footer-element ul li a {
      text-decoration: none;
      color: #fff;
      font-family: robotoR;
      font-size: 1rem;
      letter-spacing: 0.6em; }

.sk-footer-icons {
  margin-top: auto;
  display: flex;
  justify-content: center; }
  .sk-footer-icons a {
    text-decoration: none;
    color: rgba(218, 218, 218, 0.363);
    margin: 0px 5px;
    font-size: 20px !important; }
    .sk-footer-icons a:hover {
      color: #fff; }

/*# sourceMappingURL=style.css.map */
